apiVersion: apps/v1
kind: Deployment
metadata:
  name: springrestapi-deployment
spec:
  replicas: 5
  selector:
    matchLabels:
      app: restapi
  template:
    metadata:
      labels:
        app: restapi
    spec:
      containers:
      - name: restapi-container
        image: durveshy27/springrestxapi:30
        ports:
        - containerPort: 7000
---
apiVersion: v1
kind: Service
metadata:
  name: springrestapi-service
spec:
  type: NodePort
  selector:
    app: restapi
  ports:
  - port: 7000
    targetPort: 7000
    nodePort: 30372
    
